<div footer id=footer__ID class="fixed-bottom text-center">
	<span id=text__ID></span>
	<script>
		$vm.root_layout_footer='footer__ID';
		//-----------------------------------------------------
		$('#text__ID').html("Copyright © "+(new Date()).getFullYear()+", Woolcock Institute of Medical Research");
		//------------------------------------
	</script>
	<style>
		#footer__ID{
			color: #fff;
			padding: 3px;
    		background-color: #333;
			font:90%/20px arial;
		}
		@media screen and (max-width:768px){
			#footer__ID{
				font:75%/18px arial;
			}
		}
	</style>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3236475-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-3236475-2');
	</script>
</div>
